<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>textU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42432F281D928A9C007DDF75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42432F3F1D928A9C007DDF75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42432F4A1D928A9C007DDF75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
